<head></head>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container-fluid px-md-4	">
    <a class="navbar-brand" routerLink="/home">Easy Job</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Меню
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Главная</a></li>
        <li class="nav-item"><a routerLink="/vacancies" routerLinkActive="active" class="nav-link">Вакансии</a></li>
        <li class="nav-item"><a routerLink="/resumes" routerLinkActive="active" class="nav-link">Кандидаты</a></li>
        <li class="nav-item"><a routerLink="/personality" routerLinkActive="active" class="nav-link">Тест личности</a></li>
        <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" class="nav-link">Контакты</a></li>
          <li *ngIf="token !== '' && token !== null" class="nav-item cta mr-md-1"><a routerLink="/vacancy/add" class="nav-link">Разместить вакансию</a></li>
          <li *ngIf="token !== '' && token !== null" class="nav-item cta cta-colored"><a routerLink="/resume/add" class="nav-link">Разместить резюме</a></li>

          <li *ngIf="token === '' || token === null" class="nav-item cta mr-md-1"><a routerLink="/login" class="nav-link">Вход</a></li>
          <li *ngIf="token === '' || token === null" class="nav-item cta cta-colored"><a href="job-post.html" class="nav-link">Регистрация</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
