<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Easy Job</h2>
          <p>Это приложение, позволяющее найти лучшую работу с минимальными усилиями</p>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Работодателям</h2>
          <ul class="list-unstyled">
            <li><a routerLink="/resumes" class="pb-1 d-block">Просмотреть кандидатов</a></li>
            <li><a routerLink="/vacancy/add" class="pb-1 d-block">Разместить вакансию</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Кандидатам</h2>
          <ul class="list-unstyled">
            <li><a routerLink="/vacancies" class="pb-1 d-block">Просмотреть вакансии</a></li>
            <li><a routerLink="/resume/add" class="pb-1 d-block">Разместить резюме</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Мои данные</h2>
          <ul *ngIf="token === '' || token === null" class="list-unstyled">
            <li><a routerLink="/login" class="pb-1 d-block">Вход</a></li>
            <li><a routerLink="/registry" class="pb-1 d-block">Регистрация</a></li>
          </ul>
          <ul *ngIf="token !== '' && token !== null" class="list-unstyled">
            <li><a (click)="logout()" class="pb-1 d-block">Выйти</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Есть вопросы?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Беларусь, Минск</span></li>
              <li><span class="icon icon-phone"></span><span class="text">+375(44)777-77-77</span></li>
              <li><span class="icon icon-envelope"></span><span class="text">email@email.com</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
