<div class="hero-wrap hero-wrap-2" style="background-image: url('bg_1.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-12 ftco-animate text-center mb-5">
        <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Home &rarr;</a></span>
          <span>Vacancies</span></p>
        <h1 class="mb-3 bread">Resume {{resume.name}}</h1>
      </div>
    </div>
  </div>
</div>


<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-8 mb-5">

        <div class="row form-group mb-5">
          <div class="col-md-12"><h1>{{resume.name}}</h1></div>
        </div>

        <div class="row form-group mb-5">
          <div class="col-md-12"><h3>Имя кандидата</h3></div>
          <div class="col-md-12 mb-3 mb-md-0">
            {{resume.firstName}} {{resume.lastName}}
          </div>
        </div>

        <div class="row form-group mb-5">
          <div class="col-md-12"><h3>Пол</h3></div>
          <div class="col-md-12 mb-3 mb-md-0">
            {{resume.gender}}
          </div>
        </div>

        <div class="row form-group mb-5">
          <div class="col-md-12"><h3>Категория</h3></div>
          <div class="col-md-12 mb-3 mb-md-0">
            {{resume.resumeCategory}}
          </div>
        </div>

        <div class="row form-group mb-5">
          <div class="col-md-12"><h3>Опыт работы в сфере</h3></div>
          <div class="col-md-12 mb-3 mb-md-0">
            {{resume.experience}}
          </div>
        </div>

        <div class="row form-group mb-5">
          <div class="col-md-12"><h3>Образование</h3></div>
          <div class="col-md-12 mb-3 mb-md-0">
            Университет: {{resume.education.university}}
          </div>
          <div class="col-md-12 mb-3 mb-md-0">
            Факультет: {{resume.education.faculty}}
          </div>
          <div class="col-md-12 mb-3 mb-md-0">
            Специальность: {{resume.education.qualification}}
          </div>
          <div class="col-md-12 mb-3 mb-md-0">
            Годы обучения: с {{resume.education.entranceYear}} по {{resume.education.graduationYear}}
          </div>
        </div>

        <div class="row form-group mb-5">
          <div class="col-md-12"><h3>О себе</h3></div>
          <div class="col-md-12 mb-3 mb-md-0">
            {{resume.about}}
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="p-4 mb-3 bg-white">
          <h3 class="h5 text-black mb-3">Контактная информация</h3>
          <p class="mb-0 font-weight-bold">{{resume.contactInfo.country}}, {{resume.contactInfo.city}}
            , {{resume.contactInfo.address}}</p>
          <p class="mb-4"></p>

          <p class="mb-0 font-weight-bold">Телефон</p>
          <p class="mb-4">{{resume.contactInfo.phone}}</p>

          <p class="mb-0 font-weight-bold">Skype</p>
          <p class="mb-4">{{resume.contactInfo.skype}}</p>

          <p class="mb-0 font-weight-bold">Email адрес</p>
          <p class="mb-0">{{resume.contactInfo.email}}</p>
        </div>

        <div class="p-4 mb-3 bg-white">
          <h3 class="h5 text-black mb-3">Дата публикации</h3>
          <p>{{resume.publishDate | date:'medium'}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
  </svg>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
