
<div class="hero-wrap img" style="background-image: url(bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-10 d-flex align-items-center ftco-animate">
        <div class="text text-center pt-5 mt-md-5">
          <p class="mb-4">Найдите место работы или сотрудника. Узнайте свои карьерные возможности</p>
          <h1 class="mb-5">Самый легкий способ найти работу</h1>
          <div class="ftco-counter ftco-no-pt ftco-no-pb">
            <div class="row">
              <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text d-flex">
                    <div class="icon mr-2">
                      <span class="flaticon-visitor"></span>
                    </div>
                    <div class="desc text-left">
                      <strong class="number" data-number="450">300+</strong>
                      <span>Компаний</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text d-flex">
                    <div class="icon mr-2">
                      <span class="flaticon-resume"></span>
                    </div>
                    <div class="desc text-left">
                      <strong class="number" data-number="80000">2000+</strong>
                      <span>Вакансий</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text d-flex">
                    <div class="icon mr-2">
                      <span class="flaticon-resume"></span>
                    </div>
                    <div class="desc text-left">
                      <strong class="number" data-number="80000">5000+</strong>
                      <span>Резюме</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ftco-search my-md-5">
            <div class="row">
              <div class="col-md-12 nav-link-wrap">
                <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link" id="v-pills-1-tab" data-toggle="pill" routerLink="/vacancies" aria-controls="v-pills-1" aria-selected="true">Найти работу</a>&nbsp;
                  <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" routerLink="/resumes" aria-controls="v-pills-2" aria-selected="false">Найти сотрудника</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="category-wrap">
          <div class="row no-gutters">
            <div class="col-md-2">
              <div class="top-category text-center no-border-left">
                <h3>Автомобильный бизнес</h3>
                <span class="icon flaticon-contact"></span>
                <p><span class="number">50</span> <span> Вакансий</span></p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="top-category text-center">
                <h3>Банки, инвестиции</h3>
                <span class="icon flaticon-mortarboard"></span>
                <p><span class="number">100</span> <span> Вакансий</span></p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="top-category text-center">
                <h3>Рабочий персонал</h3>
                <span class="icon flaticon-idea"></span>
                <p><span class="number">143</span> <span> Вакансии</span></p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="top-category text-center">
                <h3>Наука, образование</h3>
                <span class="icon flaticon-accounting"></span>
                <p><span class="number">70</span> <span> Вакансий</span></p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="top-category text-center">
                <h3>Туризм, рестораны</h3>
                <span class="icon flaticon-dish"></span>
                <p><span class="number">150</span> <span> Вакансий</span></p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="top-category text-center">
                <h3>Медицина, фармацевтика</h3>
                <span class="icon flaticon-stethoscope"></span>
                <p><span class="number">100</span> <span> Вакансий</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Рабочие категории</span>
        <h2 class="mb-0">Топ категорий</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <ul class="category text-center">
          <li>Веб-разработка <br><span class="number">354</span> <span>Вакансии</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Графический дизайн <br><span class="number">143</span> <span>Вакансии</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Мультимедия <br><span class="number">100</span> <span>Вакансий</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Развлечения <br><span class="number">90</span> <span>Вакансий</span><i class="ion-ios-arrow-forward"></i></li>
        </ul>
      </div>
      <div class="col-md-3 ftco-animate">
        <ul class="category text-center">
          <li>Образование и наука <br><span class="number">100</span> <span>Вакансий</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Иностранные языки <br><span class="number">200</span> <span>Вакансий</span><i class="ion-ios-arrow-forward"></i></li>
          <li>СМИ <br><span class="number">300</span> <span>Вакансий</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Страхование <br><span class="number">150</span> <span>Вакансий</span><i class="ion-ios-arrow-forward"></i></ul>
          </div>
      <div class="col-md-3 ftco-animate">
        <ul class="category text-center">
          <li>Java разработка <br><span class="number">400</span> <span>Вакансий</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Сетевое оборудование <br><span class="number">100</span> <span>Вакансий</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Менеджмент <br><span class="number">222</span> <span>Вакансии</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Администрирование <br><span class="number">123</span> <span>Вакансии</span><i class="ion-ios-arrow-forward"></i></li>
    </ul>
      </div>
      <div class="col-md-3 ftco-animate">
        <ul class="category text-center">
          <li>Веб-дизайн <br><span class="number">324</span> <span>Вакансии</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Строительство <br><span class="number">564</span> <span>Вакансии</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Маркетинг и продажи <br><span class="number">234</span> <span>Вакансии</span><i class="ion-ios-arrow-forward"></i></li>
          <li>Разработка ПО <br><span class="number">425</span> <span>Вакансий</span><i class="ion-ios-arrow-forward"></i></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section services-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-resume"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Выбирайте среди тысяч вакансий</h3>
            <p>Большое количество вакансий в удобном представлении</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-team"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Максимально простой поиск работы</h3>
            <p>Информация о вакансиях собрана в одном месте и удобно представлена для просмотра</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-career"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Продвигайтесь по карьерной лестнице</h3>
            <p>Найдите работу, которая будет приносить удовольствие и желание развиваться</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-employees"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Находите хороших сотрудников</h3>
            <p>Тысячи резюме представлены в удобном формате и собраны в одном месте для вас</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>


<!-- loader-->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
  </svg>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
